@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");


.accContainer {
  width: 100%;
  padding: 50px 0px;

  h2 {
    text-align: start;
    padding-top: 20px;
    padding-left: 200px;
    margin-bottom: 20px;
    color: #333;

   
  }
}